# Visual Studio files
*.sln
*.suo
*.user
*.csproj
*.csproj.user
*.pdb
*.dll
*.cache
*.tmp
*.log
*.config
*.sql
*.xml
*.vspscc
*.vssscc
*.dotCover
*.cs
*.resx
*.ico
*.png
*.cmd
*.bat
*.ps1
*.psm1

# Packages
packages/

# Node.js
node_modules/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
obj/

# .NET Core
*.dll
*.exe
*.pdb
*.cache
*.tmp
*.log
*.csproj
*.nuget.props
*.nuget.targets
*.dbmdl
*.jfm
*.sbr
*.sln.docstates

# Misc
*.userprefs
*.config.user
*.sln.ide
*.suo
*.sln.dotSettings.user
*.resharper
*.sln.docstates
_ReSharper*/
*.psd1
*.psm1
*.psc1
*.psc2
*.vs/

# Ignore .env file
.env